.explore-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #151515;
}

.explore-cards-container .cards {
    background:transparent;
}
.explore-cards-container .cards  h1 {
    color: white;
}

.explore-cards-container .cards__container {
    
}

.explore-cards-container .cards__wrapper {
    
}

.explore-cards-container .cards__items {
    
}